<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FixFastBuddy2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:name=".mechanic.EditServices"
            android:exported="false" />
        <activity
            android:name=".mechanic.ViewProfile"
            android:exported="false" />
        <activity
            android:name=".mechanic.RatingsAndReviews"
            android:exported="false" />
        <activity
            android:name=".mechanic.Earnings"
            android:exported="false" />
        <activity
            android:name=".mechanic.manageServices"
            android:exported="false" />
        <activity
            android:name=".mechanic.SignUpServices"
            android:exported="false" />
        <activity
            android:name=".mechanic.SignUpInfo"
            android:exported="false" />
        <activity
            android:name=".mechanic.Navigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".mechanic.OTP"
            android:exported="false" />
        <activity
            android:name=".mechanic.Phone"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">

        </activity>

        <activity
            android:name=".Garage.EditServices"
            android:exported="false" />
        <activity
            android:name=".Garage.ManageServices"
            android:exported="false" />
        <activity
            android:name=".Garage.AddMechanics"
            android:exported="false" />
        <activity
            android:name=".Garage.MechanicDetailPage"
            android:exported="false" />
        <activity
            android:name=".Garage.AboutUsPage"
            android:exported="false" />
        <activity
            android:name=".Garage.HelpandSupportPage"
            android:exported="false" />

        <activity
            android:name=".Garage.MechanicsPage"
            android:exported="false" />
        <activity
            android:name=".Garage.EarningsPage"
            android:exported="false" />
        <activity
            android:name=".Garage.RegisterPage2"
            android:exported="false" />
        <activity
            android:name=".Garage.RegisterPage3"
            android:exported="false" />
        <activity
            android:name=".Garage.RegisterPage1"
            android:exported="false" />
        <activity
            android:name=".Garage.RatingsPage"
            android:exported="false" />
        <activity
            android:name=".Garage.ProfilePage"
            android:exported="false"
            android:label="@string/title_activity_profile_page"
            android:theme="@style/Theme.FixFastBuddy2" />
        <activity
            android:name=".Garage.otp_page"
            android:exported="false" />
        <activity
            android:name=".Garage.otp_Login"
            android:exported="false"
            android:theme="@style/Theme.App.SplashScreen">
        </activity>
        <activity
            android:name=".Garage.Home"
            android:exported="false" />
        <activity
            android:name=".Garage.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Garage.Login"
            android:exported="false" />
    </application>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

</manifest>